<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Availability:</title>

    <link href="/app.css" rel="stylesheet">
    <link href="/popover.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper__outer">
        <div class="wrapper__inner">

            <a href="/" class="link--secondary">Back to homepage</a>
            
            <h1>Book an event</h1>
            <p>Pick a day and time that works for you</p>
                
            <div class="element__wrapper">
                <div id="cronofy-availability-viewer"></div>

                <script src="https://elements.cronofy.com/js/CronofyElements.v1.20.7.js"></script>
                <script>
                    function openForm() {
                        document.getElementById("myForm").style.display = "block";
                    }

                    function closeForm() {
                        document.getElementById("myForm").style.display = "none";
                    }

                    async function checkSlotAvailability(slotText) {
                        const response = await fetch('/checkSlotAvailability?slot='+slotText);
                        const result = await response.json();
                        return result.isAvailable;
                    }

                    async function createEvent(slotText, title, desc) {
                        const response = await fetch('/createEvent?slot='+slotText+'&title='+title+'&desc='+desc);
                        const result = await response.json();
                    }

                    function disableConfirmButton() {
                        document.getElementById("confirm-button").disabled = true;
                    }

                    function enableConfirmButton() {
                        document.getElementById("confirm-button").disabled = false;
                    }

                    function hideHelperText() {
                        document.getElementById('helperText').style.display="none";
                    }

                    function showHelperText() {
                        document.getElementById('helperText').style.display="block";
                    }

                    async function confirm() {
                        const slotText = document.getElementById("slotInput").value;
                        if (slotText) {
                            const title = document.getElementById("title").value;
                            const description = document.getElementById('description').value;
                            if (!title || !title.trim()) {
                                alert('Please enter title');
                                return;
                            }

                            disableConfirmButton();
                            showHelperText();
                            if (!await checkSlotAvailability(slotText)) {
                                document.getElementById("slotInput").value = '';
                                alert('This slot is not available. Please select another slot');
                                enableConfirmButton();
                                hideHelperText();
                                return;
                            }

                            await createEvent(slotText, title, description);
                            enableConfirmButton();
                            hideHelperText();

                            document.getElementById("slotInput").value = '';
                            window.location.href = `/submit?title=${title}&desc=${description}&slot=${slotText}`;
                        } else {
                            alert('Please select a slot');
                        }

                    }

                    CronofyElements.AvailabilityViewer({
                        element_token: "<%= element_token %>",
                        target_id: "cronofy-availability-viewer",
                        availability_query: {
                            participants: [
                                {
                                    required: "all",
                                    members: [
                                        {
                                            sub: "<%= sub %>",
                                            managed_availability: true
                                        }
                                    ]
                                }
                            ],
                            required_duration: { minutes: 60 },
                            available_periods: [
                                {
                                    start: "<%= start_date %>",
                                    end: "<%= end_date %>"
                                },
                            ],
                        },
                        config: {
                            start_time: "00:00",
                            end_time: "23:59",
                            interval: 120
                        },
                        callback: res => {
                            if (res.notification.type !== "slot_selected") return;

                            document.getElementById('slotInput').value = JSON.stringify(res.notification.slot);
                            openForm();
                        }
                    });
                </script>
            </div>

        </div>
    </div>
    <input type="hidden" id="slotInput" />
    <div class="form-popup" id="myForm">
        <form class="form-container">
            <h1>Event Detail</h1>

            <label for="title"><b>Title</b></label>
            <input id="title" type="text" placeholder="Enter Event Title" name="title" required>

            <label for="description"><b>Description</b></label>
            <input id="description" type="text" placeholder="Enter Event Description" name="description" required>

            <button id="confirm-button" type="button" class="btn" onclick="confirm()">Confirm</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            <p id="helperText" style="display: none">confirming...</p>
        </form>
    </div>

    <script>

    </script>
</body>
</html>
